.vacancy-container{
    width: 98%;
    margin: 0 auto;
    height: 98vh;
    display: flex;
    justify-content: center;
}

.vacancy-content{
    width: 40%;
    margin: 0 auto;
}

.spinner {
    border: 5px solid silver;
    border-top: 5px solid #337AB7;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 700ms linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@media screen and (max-width:768px) {
    .vacancy-content{
        width: 90%;
    }
}